@media screen,
projection {
    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        font-weight: inherit;
        font-style: inherit;
        font-size: 1em;
        vertical-align: baseline;
        color: #4a4849;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block
    }
    blockquote,
    q {
        quotes: none
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none
    }
    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        outline: 0 !important
    }
    a img {
        border: none
    }
    abbr[title],
    dfn[title] {
        border-bottom: 1px dotted;
        cursor: help
    }
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0
    }
    input,
    select {
        vertical-align: middle;
        margin: 0
    }
    input {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0
    }
    html {
        box-sizing: border-box
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit
    }
    .touchDevice body {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: 100%
    }
    .touchDevice body a:active,
    .touchDevice body a:focus,
    .touchDevice body input:active,
    .touchDevice body input:focus,
    .touchDevice body button:active,
    .touchDevice body button:focus {
        outline: 0 !important
    }
    .touchDevice body input {
        -webkit-user-modify: read-write-plaintext-only !important
    }
    .touchDevice body input,
    .touchDevice body button,
    .touchDevice body select {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
    }
    .row:after {
        display: table;
        content: "";
        clear: both
    }
    .skipLink {
        display: block;
        padding: 4px;
        position: absolute;
        left: -9999px;
        z-index: 1000;
        color: #fff;
        background: #222;
        font-size: 15px
    }
    .skipLink:focus {
        left: 0
    }
    .hidden {
        display: none
    }
    .accessible {
        position: absolute;
        left: -9999px
    }
    .col.chartWrapper,
    .col.chartWrapper svg,
    .highcharts-container {
        overflow: visible !important
    }
    body {
        font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 62.5%;
        text-rendering: optimizeLegibility
    }
    a {
        color: #4a4849;
        text-decoration: none
    }
    a:hover,
    a:active,
    a:focus {
        color: #007cc3;
        text-decoration: none
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #083850;
        margin: 0.5em 0
    }
    h1 {
        font-size: 3.7em
    }
}

@media only screen and (min-width: 48em) {
    h1 {
        font-size: 4.4em
    }
}

@media only screen and (min-width: 80em) {
    h1 {
        font-size: 4.4em
    }
}

@media screen,
projection {
    h2 {
        font-size: 2.4em
    }
}

@media only screen and (min-width: 48em) {
    h2 {
        font-size: 3.6em
    }
}

@media only screen and (min-width: 80em) {
    h2 {
        font-size: 2.8em
    }
}

@media screen,
projection {
    h3 {
        font-size: 1.8em
    }
}

@media only screen and (min-width: 48em) {
    h3 {
        font-size: 2.7em
    }
}

@media only screen and (min-width: 80em) {
    h3 {
        font-size: 2.1em
    }
}

@media screen,
projection {
    h4 {
        font-size: 1.5em
    }
}

@media only screen and (min-width: 48em) {
    h4 {
        font-size: 1.8em
    }
}

@media only screen and (min-width: 80em) {
    h4 {
        font-size: 1.8em
    }
}

@media screen,
projection {
    h5 {
        font-size: 1.2em
    }
}

@media only screen and (min-width: 48em) {
    h5 {
        font-size: 1.6em
    }
}

@media only screen and (min-width: 80em) {
    h5 {
        font-size: 1.4em
    }
}

@media screen,
projection {
    h6 {
        font-size: 1.2em
    }
}

@media only screen and (min-width: 48em) {
    h6 {
        font-size: 1.6em
    }
}

@media only screen and (min-width: 80em) {
    h6 {
        font-size: 1.4em
    }
}

@media screen,
projection {
    p,
    address,
    li,
    dt,
    dd,
    legend,
    label,
    input,
    select,
    button,
    table {
        font-size: 1.2em
    }
}

@media only screen and (min-width: 48em) {
    p,
    address,
    li,
    dt,
    dd,
    legend,
    label,
    input,
    select,
    button,
    table {
        font-size: 1.2em
    }
}

@media only screen and (min-width: 80em) {
    p,
    address,
    li,
    dt,
    dd,
    legend,
    label,
    input,
    select,
    button,
    table {
        font-size: 1.4em
    }
}

.col {
    box-sizing: border-box;
    display: block;
    padding: 0 0
}

.col:first-child {
    margin-left: 0;
    padding-left: 0
}

@media only screen and (min-width: 48em) {
    .col {
        float: left;
        margin: 0 0 0 1.875%
    }
    .col1 {
        width: 6.54167%
    }
    .col2 {
        width: 14.95833%
    }
    .col3 {
        width: 23.375%
    }
    .col4 {
        width: 31.79167%
    }
    .col5 {
        width: 40.20833%
    }
    .col6 {
        width: 48.625%
    }
    .col7 {
        width: 57.04167%
    }
    .col8 {
        width: 65.45833%
    }
    .col9 {
        width: 73.875%
    }
    .col10 {
        width: 82.29167%
    }
    .col11 {
        width: 90.70833%
    }
    .col12 {
        width: 99.125%
    }
}

@media screen,
projection {
    a[href],
    input[type='submit'],
    input[type='image'],
    label[for],
    select,
    button,
    .pointer {
        cursor: pointer;
    }
}

@media screen,
projection {
    .accessible {
        position: absolute;
        left: -9999px;
    }
}

@media screen,
projection p,
address,
li,
dt,
dd,
legend,
label,
input,
select,
button,
table {
    font-size: 1.2em;
}

@media screen,
projection {
    .contentWrapper {
        min-width: 300px;
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media screen,
projection {
    textarea {
        font-size: 1.8em
    }
    p,
    ul,
    ol,
    dl,
    table {
        /*margin-bottom: 15px*/
    }
    li li,
    li p,
    li legend,
    li label,
    li input,
    li textarea,
    li select,
    li button {
        font-size: 100%
    }
    ul,
    ol {
        /*margin-left: 1.5em*/
    }
    li {
        list-style-type: none;
    }
    .white-space {
        margin-left: 0;
        list-style-type: none;
        clear: both
    }
    .white-space .space-width {
        line-height: 14px;
        background: rgba(255, 255, 0, 0.4)
    }
    .white-space .description {
        display: block;
        float: left;
        clear: left
    }
    .white-space .description code {
        color: #999
    }
    a[href],
    input[type='submit'],
    input[type='image'],
    label[for],
    select,
    button,
    .pointer {
        cursor: pointer
    }
    input,
    button {
        font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal
    }
    th {
        font-weight: normal
    }
    .contentWrapper {
        max-width: 1280px;
        margin: 0 auto
    }
    .ie6 .contentWrapper,
    .ie7 .contentWrapper,
    .ie8 .contentWrapper {
        width: 1280px
    }
    .pageWrapper {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background: #fff;
        box-sizing: border-box
    }
    .pageWrapper .page {
        padding: 0 0 20px
    }
    .desktopOnly,
    .tabletOnly,
    .hiddenInMobile,
    .touchAccessible {
        display: none
    }
}

@media only screen and (max-width: 30em) {
    .mobileOnly {
        display: block
    }
    .hiddenInMobile,
    .tabletOnly {
        display: none
    }
}

@media only screen and (min-width: 30em) {
    .mobileOnly {
        display: block
    }
    .hiddenInMobile,
    .tabletOnly {
        display: none
    }
}

@media only screen and (min-width: 48em) {
    .mobileOnly {
        display: none
    }
    .hiddenInMobile,
    .tabletOnly {
        display: block
    }
}

@media only screen and (min-width: 64em) {
    .hiddenInDesktop,
    .tabletOnly {
        display: none
    }
    .desktopOnly {
        display: block
    }
}

@media only screen and (min-width: 80em) {
    .hiddenInDesktop,
    .tabletOnly {
        display: none
    }
    .desktopOnly {
        display: block
    }
}

@media screen,
projection {
    .button span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 40px;
        vertical-align: bottom
    }
    .button.primary {
        border-color: #007cc3;
        background-color: #007cc3;
        color: #fff
    }
    .button.primary.disabled {
        background-color: #dcddde;
        border-color: #dcddde
    }
    .button.primary.disabled:focus,
    .button.primary.disabled:hover,
    .button.primary.disabled:active {
        background-color: #dcddde;
        border-color: #dcddde
    }
    .button.primary.disabled:focus.noOutline,
    .button.primary.disabled:hover.noOutline,
    .button.primary.disabled:active.noOutline {
        background-color: #dcddde;
        border-color: #dcddde
    }
    .button.primary:active {
        background-color: #1a99e9;
        border-color: #1a99e9
    }
    .button.primary:focus,
    .button.primary:hover {
        background-color: #0e689f;
        border-color: #0e689f
    }
    .button.primary:focus.noOutline {
        background-color: #0e689f;
        border-color: #0e689f
    }
    .button.primary:focus,
    .button.primary:active {
        outline: 0
    }
}

@media screen,
projection {
    .masthead .topbarInner {
        position: relative;
        height: 100px;
    }
    .masthead .topbarInner input {
        font-size: 1.4em;
        width: 230px;
        border: none;
        margin: 10px 1% 10px 5%;
        outline: none;
        color: #666;
        height: 18px;
        line-height: 18px;
    }
    .masthead .topbarInner .searchArea {
        float: right;
    }
    .masthead .topbarInner .logo a {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        content: '';
        background-image: url('../img/logo.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 80px;
        width: 339px;
    }
    .masthead .topbarInner .leftArea {
        float: left;
    }
    .masthead .topbarInner .searchBtn {
        float: right;
    }
    .masthead .topbar {
        display: none
    }
    .masthead .topbarInner .searchArea {
        display: none
    }
    .bgCoverWrapper {
        position: relative
    }
    .heroArea {
        background: #007cc3 no-repeat right center;
        background-size: cover
    }
    .heroArea .heroAreaContent {
        padding: 8px 14px 121px;
        color: #fff
    }
    .heroArea .font1 {
        background-image: url('../img/font1_small.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 178px;
        height: 30px;
    }
    .heroArea .font2 {
        background-image: url('../img/font2_small.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 103px;
        height: 23px;
    }
}

@media only screen and (min-width: 30em) {
    .heroArea .heroAreaContent {
        padding: 8px 20px 136px;
    }
}

@media only screen and (max-width: 767px) {
    .masthead .topbarInner {
        border-bottom: 2px #e5e5e5 solid;
        height: 60px;
        width: 100%;
    }
    .masthead .topbarInner .logo {
        display: inline-block;
        margin: 0 auto;
        width: calc(100% - 104px);
        padding: 5px 0px 5px 0px;
    }
    .masthead .topbarInner .logo a {
        display: block;
        vertical-align: middle;
        content: '';
        margin: 0 auto;
        background-image: url('../img/logo_small.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 48px;
        width: 203px;
    }
    .masthead .topbarInner .leftArea {
        float: left;
        width: 52px;
        padding: 10px 0px 10px 15px;
    }
    .masthead .topbarInner .searchBtn {
        float: right;
        width: 52px;
        padding: 10px 0px 10px 0px;
    }
    .masthead .topbarInner .leftArea a {
        display: block;
        vertical-align: middle;
        content: '';
       /* background-image: url('../img/icon/mobile_member.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 36px;
        width: 36px;*/
        margin: auto auto;
    }
    .masthead .topbarInner .leftArea a i{
        color: #bbbbbb;
    }
    .masthead .topbarInner .searchBtn a {
        display: block;
        vertical-align: middle;
        /*content: '';
        background-image: url('../img/icon/mobile_search.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 36px;
        width: 36px;*/
        margin: auto auto;
    }
    .masthead .topbarInner .searchBtn a i{
        color: #bbbbbb;
    }
}

@media only screen and (min-width: 48em) {
    .heroArea .font1 {
        background-image: url('../img/font1_medium.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 356px;
        height: 60px;
    }
    .heroArea .heroAreaContent {
        padding: 20px 48px 147px
    }
    .masthead .topbar {
        position: relative;
        display: block;
        box-sizing: content-box;
        padding: 0 28px;
        border-bottom: 1px solid #e5e5e5;
        margin-right: 0;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        background: #f5f5f5;
        color: #999999;
    }
    .masthead .topbar .weather {
        display: block;
        float: left;
        width: 179px
    }
    .masthead .topbar .weather .degree {
        color: #d70000;
    }
    .masthead .topbar .weather .colon {
        font-weight: bolder;
    }
    .masthead .topbar .rightArea {
        text-align: right;
    }
    .masthead .topbar .rightArea .links {
        position: relative;
        display: inline-block;
        margin-right: 15px;
    }
    .masthead .topbar .links ul {
        float: right;
    }
    .masthead .topbar .links ul li {
        float: left;
        font-size: 100%;
        margin-left: 10px;
    }
    .masthead .topbar .links ul li.line {
        line-height: 34px;
    }
    .masthead .topbar .links ul li.second {
        margin-right: 30px;
    }
    .masthead .topbarInner .logo {
        display: block;
        float: left;
        padding: 10px 20px 10px 20px;
        width: 389px;
    }
    .masthead .topbarInner .searchArea {
        position: relative;
        top: 28px;
        display: inline-block;
        box-sizing: border-box;
        width: 300px;
        margin-right: 25px;
        border: 1px solid #bcbdc0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .masthead .topbarInner .searchArea a {
        float: right;
        height: 38px;
        width: 38px;
        /*background-color: #0b9df0;*/
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-top-right-radius: 4px;
        -moz-border-bottom-right-radius: 4px;
        padding: 8px 0px 0px 10px;
    }
    .masthead .topbarInner .searchArea .btn i {
        color: #fff;
    }
}

@media only screen and (min-width: 80em) {
    .masthead .topBar .weather {
        width: 15.033%;
    }
    .masthead .topbarInner .logo {
        padding: 10px 60px;
    }
    .masthead .topbarInner .searchArea {
        margin-right: 60px;
    }
    .heroArea .font1 {
        background-image: url('../img/font1.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 594px;
        height: 100px;
    }
    .heroArea .font2 {
        background-image: url('../img/font2.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 165px;
        height: 37px;
    }
    .heroArea .heroAreaContent {
        padding: 206px 50px 32px
    }
    .heroArea .heroAreaContent h2 {
        width: 66.66667%
    }
}

@media screen, projection{
body.mobileSearchOpen .searchMobile {
    left: 0;
    visibility: visible;
}
}
@media screen,
projection {.masthead .searchMobile {
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.25s;
    height: 54px;
    width: 100%;
    background-color: #007cc3;
    padding: 10px 14px;
    visibility: hidden;
}
}
@media screen,
projection {
    .masthead .searchMobile {
        position: fixed;
        top: 0;
        left: 100%;
        transition: left 0.25s;
        height: 58px;
        width: 100%;
        background-color: #007cc3;
        padding: 10px 14px;
        visibility: hidden
    }
    .masthead .searchMobile .autoComplete {
        position: relative;
        display: inline-block;
        float: left;
        width: 100%;
        margin: 0 0;
        padding-right: 45px;
        box-sizing: border-box
    }
    .masthead .searchMobile .autoComplete .searchIcon {
        position: absolute;
        margin: 7px 0 0 9px;
        content: '';
        display: block;
        float: left;
        vertical-align: middle;

        /*background-image: url('../img/icon/icons.png');
        background-position: 0 -12343px;
        background-repeat: no-repeat;*/
        height: 23px;
        width: 23px
    }
    .masthead .searchMobile .autoComplete .searchIcon i {
        color: #bbbbbb;
    }
    
}

@media screen,
projection {
    .masthead .searchMobile input {
        border: none;
        width: 100%;
        font-size: 1.8em;
        padding: 8px 40px;
        line-height: 20px;
    }
    .masthead .searchMobile a.close {
        /*border: 6px solid transparent;*/
        -webkit-box-sizing: initial;
        -moz-box-sizing: initial;
        box-sizing: initial;
        position: absolute;
        float: right;
        cursor: pointer;
        right: 20px;
        top: 13px;
        /*background-image: url('../img/icon/icons.png');
        background-position: 0 -15871px;
        background-repeat: no-repeat;*/
        height: 22px;
        width: 21px
    }
    .masthead .searchMobile a.close i{
        color: #fff;
    }
}

@media only screen and (min-width: 48em) {
    .masthead .searchMobile a.close {
        right: 25px
    }
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .masthead .searchMobile a.close {
        background-position: 0 -7889px;
        background-size: 106px auto
    }
    .masthead .searchMobile .autoComplete .searchIcon {
        background-position: 0 -5976px;
        background-size: 106px auto
    }
}*/