html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

li {
    list-style-type: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: 0 !important
}

a img {
    border: none
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle;
    margin: 0
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.row:after {
    display: table;
    content: "";
    clear: both
}

.hidden {
    display: none
}

body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 62.5%;
    text-rendering: optimizeLegibility
}

a {
    color: #4a4849;
    text-decoration: none
}

a:hover,
a:active,
a:focus {
    color: #007cc3;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #083850;
    margin: 0.5em 0
}

h1 {
    font-size: 3.7em;
    font-size: 4.4em;
    font-size: 4.4em
}

h2 {
    font-size: 2.4em;
    font-size: 3.6em;
    font-size: 2.8em
}

h3 {
    font-size: 1.8em;
    font-size: 2.7em;
    font-size: 2.1em
}

h4 {
    font-size: 1.5em;
    font-size: 1.8em;
    font-size: 1.8em
}

h5 {
    font-size: 1.2em;
    font-size: 1.6em;
    font-size: 1.4em
}

h6 {
    font-size: 1.2em;
    font-size: 1.6em;
    font-size: 1.4em
}

p,
address,
li,
dt,
dd,
legend,
label,
input,
select,
button,
table {
    font-size: 1.2em;
    font-size: 1.2em;
    font-size: 1.4em
}

textarea {
    font-size: 1.8em
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 15px
}

li li,
li p,
li legend,
li label,
li input,
li textarea,
li select,
li button {
    font-size: 100%
}

ul,
ol {
    margin-left: 1.5em
}

.white-space {
    margin-left: 0;
    list-style-type: none;
    clear: both
}

.white-space .space-width {
    line-height: 14px;
    background: rgba(255, 255, 0, 0.4)
}

.white-space .description {
    display: block;
    float: left;
    clear: left
}

.white-space .description code {
    color: #999
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer
}

input,
button {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal
}

th {
    font-weight: normal
}

.contentWrapper {
    max-width: 1024px;
    margin: 0 auto
}

.ie6 .contentWrapper,
.ie7 .contentWrapper,
.ie8 .contentWrapper {
    width: 1024px
}

.pageWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box
}

.pageWrapper .page {
    padding: 0 0 20px
}

.button span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    vertical-align: bottom
}

.button.primary {
    border-color: #007cc3;
    background-color: #007cc3;
    color: #fff
}

.button.primary.disabled {
    background-color: #dcddde;
    border-color: #dcddde
}

.button.primary.disabled:focus,
.button.primary.disabled:hover,
.button.primary.disabled:active {
    background-color: #dcddde;
    border-color: #dcddde
}

.button.primary.disabled:focus.noOutline,
.button.primary.disabled:hover.noOutline,
.button.primary.disabled:active.noOutline {
    background-color: #dcddde;
    border-color: #dcddde
}

.button.primary:active {
    background-color: #1a99e9;
    border-color: #1a99e9
}

.button.primary:focus,
.button.primary:hover {
    background-color: #0e689f;
    border-color: #0e689f
}

.button.primary:focus.noOutline {
    background-color: #0e689f;
    border-color: #0e689f
}

.button.primary:focus,
.button.primary:active {
    outline: 0
}

.desktopOnly,
.tabletOnly,
.hiddenInMobile,
.touchAccessible {
    display: none
}

.mobileOnly {
    display: none
}

.hiddenInMobile,
.tabletOnly {
    display: block
}

.hiddenInDesktop,
.tabletOnly {
    display: none
}

.desktopOnly {
    display: block
}

.hiddenInDesktop,
.tabletOnly {
    display: none
}

.desktopOnly {
    display: block
}


/*oldie样式基本和xxx.defualt.css一致，请在ie中具体测试微调*/

.masthead .topbar {
    position: relative;
    display: block;
    box-sizing: content-box;
    padding: 0 28px;
    border-bottom: 1px solid #e5e5e5;
    margin-right: 0;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: #f5f5f5;
    color: #999999;
}

.masthead .topbar .weather {
    display: block;
    float: left;
    width: 179px
}

.masthead .topbar .weather .degree {
    color: #d70000;
}

.masthead .topbar .weather .colon {
    font-weight: bolder;
}

.masthead .topbar .rightArea {
    text-align: right;
}

.masthead .topbar .rightArea .links {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.masthead .topbar .links ul {
    float: right;
}

.masthead .topbar .links ul li {
    float: left;
    font-size: 100%;
    margin-left: 10px;
}

.masthead .topbar .links ul li.line {
    line-height: 34px;
}

.masthead .topbar .links ul li.second {
    margin-right: 30px;
}

.masthead .topbarInner {
    position: relative;
    height: 100px;
}

.masthead .topbarInner input {
    font-size: 1.4em;
    width: 230px;
    border: none;
    margin: 10px 1% 10px 5%;
    outline: none;
    color: #666;
    height: 18px;
    line-height: 18px;
}

.masthead .topbarInner .searchArea {
    float: right;
}

.masthead .topbarInner .logo a {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    content: '';
    background-image: url('../img/logo.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 80px;
    width: 339px;
}

.masthead .topbarInner .leftArea {
    float: left;
}

.masthead .topbarInner .rightArea {
    float: right;
}

.masthead .topbarInner .logo {
    display: block;
    float: left;
    padding: 10px 20px 10px 20px;
    width: 389px;
}

.masthead .topbarInner .searchArea {
    position: relative;
    top: 28px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    margin-right: 25px;
    border: 1px solid #bcbdc0;
}

.masthead .topbarInner .searchArea a {
    float: right;
    height: 38px;
    width: 38px;
    padding: 8px 0px 0px 10px;
}


/*.masthead .topbarInner .searchArea .btn .searchIcon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    content: '';
    background-image: url('../img/icon/search.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    margin-top: 8px;
}*/

.masthead .topbarInner .searchArea .btn i {
    color: #fff;
}

.heroArea {
    background: #007cc3 no-repeat center center;
}

.heroArea .heroAreaContent {
    padding: 8px 14px 121px;
    color: #fff;
}

.heroArea .font1 {
    background-image: url('../img/font1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 594px;
    height: 100px;
}

.heroArea .font2 {
    background-image: url('../img/font2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 165px;
    height: 37px;
}

.masthead .navigation .navRow,
.ie8 .masthead .navigation .navRow .contentWrapper {
    position: relative;
}

.masthead .navigation .navContent .navRow {
    overflow: visible;
    background: #f1f1f1
}

.ie8 .masthead .navigation .navContent .navRow .contentWrapper {
    background-color: #f1f1f1
}

.masthead .navigation .primaryNav {
    margin: 0px;
    float: left;
    position: relative;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #f7f7f7;
    width: 100%;
    z-index: 2;
    overflow: visible;
    color: #333333;
    padding-top: 0;
    padding-bottom: 0;
    overflow: visible;
}

.ie6 .masthead .navigation .primaryNav,
.ie7 .masthead .navigation .primaryNav {
    zoom: 1
}

.masthead .navigation .primaryNav>li {
    float: left;
    width: 12.5%;
    /* border-top: 5px solid transparent; */
    vertical-align: middle;
    padding: 20px 0;
}

.masthead .navigation .primaryNav>li.ative {
    border-bottom: 3px solid #d60000;
}

.masthead .navigation .primaryNav>li a {
    /*border-left: 1px solid #d9d9d9;*/
}

.masthead .navigation .primaryNav>li>a {
    display: block;
    box-shadow: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
