html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

li {
    list-style-type: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: 0 !important
}

a img {
    border: none
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle;
    margin: 0
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.row:after {
    display: table;
    content: "";
    clear: both
}

.hidden {
    display: none
}

body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 62.5%;
    text-rendering: optimizeLegibility
}

a {
    color: #4a4849;
    text-decoration: none
}

a:hover,
a:active,
a:focus {
    color: #007cc3;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #083850;
    margin: 0.5em 0
}

h1 {
    font-size: 3.7em;
    font-size: 4.4em;
    font-size: 4.4em
}

h2 {
    font-size: 2.4em;
    font-size: 3.6em;
    font-size: 2.8em
}

h3 {
    font-size: 1.8em;
    font-size: 2.7em;
    font-size: 2.1em
}

h4 {
    font-size: 1.5em;
    font-size: 1.8em;
    font-size: 1.8em
}

h5 {
    font-size: 1.2em;
    font-size: 1.6em;
    font-size: 1.4em
}

h6 {
    font-size: 1.2em;
    font-size: 1.6em;
    font-size: 1.4em
}

p,
address,
li,
dt,
dd,
legend,
label,
input,
select,
button,
table {
    font-size: 1.2em;
    font-size: 1.2em;
    font-size: 1.4em
}

textarea {
    font-size: 1.8em
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 15px
}

li li,
li p,
li legend,
li label,
li input,
li textarea,
li select,
li button {
    font-size: 100%
}

ul,
ol {
    margin-left: 1.5em
}

.white-space {
    margin-left: 0;
    list-style-type: none;
    clear: both
}

.white-space .space-width {
    line-height: 14px;
    background: rgba(255, 255, 0, 0.4)
}

.white-space .description {
    display: block;
    float: left;
    clear: left
}

.white-space .description code {
    color: #999
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer
}

input,
button {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal
}

th {
    font-weight: normal
}

.contentWrapper {
    max-width: 1024px;
    margin: 0 auto
}

.ie6 .contentWrapper,
.ie7 .contentWrapper,
.ie8 .contentWrapper {
    width: 1024px
}

.pageWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box
}

.pageWrapper .page {
    padding: 0 0 20px
}

.button span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    vertical-align: bottom
}

.button.primary {
    border-color: #007cc3;
    background-color: #007cc3;
    color: #fff
}

.button.primary.disabled {
    background-color: #dcddde;
    border-color: #dcddde
}

.button.primary.disabled:focus,
.button.primary.disabled:hover,
.button.primary.disabled:active {
    background-color: #dcddde;
    border-color: #dcddde
}

.button.primary.disabled:focus.noOutline,
.button.primary.disabled:hover.noOutline,
.button.primary.disabled:active.noOutline {
    background-color: #dcddde;
    border-color: #dcddde
}

.button.primary:active {
    background-color: #1a99e9;
    border-color: #1a99e9
}

.button.primary:focus,
.button.primary:hover {
    background-color: #0e689f;
    border-color: #0e689f
}

.button.primary:focus.noOutline {
    background-color: #0e689f;
    border-color: #0e689f
}

.button.primary:focus,
.button.primary:active {
    outline: 0
}

